<div class="flex justify-center">
  <div class="w-full">
    <table class="w-full border-collapse border border-gray-300">
      <thead>
      <tr>
        <th class="py-3 px-6 border-b border-gray-300 text-center">Property ID</th>
        <th class="py-3 px-6 border-b border-gray-300 text-center">Property name</th>
        <th class="py-3 px-6 border-b border-gray-300 text-center">See property</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let property of fullPropertyList">
        <td class="py-3 px-6 border-b border-gray-300 text-center">{{property.id}}</td>
        <td class="py-3 px-6 border-b border-gray-300 text-center">{{property.name}}</td>
        <td class="py-3 px-6 border-b border-gray-300 text-center">
          <button class="bg-teal-500 hover:bg-teal-600 text-white font-semibold py-2 px-4 rounded transition">
            Aller à la page
          </button>
        </td>
        <!-- <td class="py-3 px-6 border-b border-gray-300"><a [routerLink]="['/property', property.id]">See property</a></td> -->
      </tr>
      </tbody>
    </table>
  </div>
</div>
